* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: #fff;
    font-family: 'Livvic', sans-serif;
    font-weight: lighter ;
    font-size: 20px;
    text-rendering: optimizeLegibility;

}
body {
    font-family: 'Livvic', sans-serif;
    overflow-x: hidden;
    color: #fff;
}
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.699)),url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.pro-pic {
    position: absolute;
    top: 6%;
    left: 12%;
    height: 100px;
    border-radius: 100px;
}
nav {
    position: absolute;
    top: 0;
    right: 10% ;
}
.main-nav {
    display: inline-block ;
    position: relative;
    right: 12%;
    margin: 40px 15px;
}
.main-nav li{
    display: inline-block;
    margin: 28px 15px;
    transition: padding-top 0.2s, border-bottom 0.2s ;
}
.main-nav li:hover {
    border-bottom: 2px solid #fff;
    border-radius: 7px;
    background: rgba(0, 0, 0, 0.521);
    padding-top: 5px;
}
/*
.mob {
    float: right ;
}
.mob-nav {
    float: right ;
    margin: 50px ;
    display: none;
}
*/
a {
    color: #fff ;
    text-decoration: none!important ;
}
a:hover {
    color: #fff;
    cursor: pointer ;
}

.hero {
    width: 1140px;
    border: 2px solid #fff;
    border-radius: 10px 120px;
    padding: 50px;
    background: rgba(0, 0, 0, 0.521);
}
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    word-spacing: 3px;
    letter-spacing: 1px;
    text-align: center;
}
.hero h1 {
    color: #fff ;
    font-weight: 200;
    font-size: 300%;
}
.hero h2 {
    font-family: 'Livvic', sans-serif;
    font-weight: bolder;
    font-size: 200%;
}

.hero h2::before {
    content: "\201C";
}
.hero h2::after {
    content: "\201D";
}

section {
    height: 100vh ;
}
h1 {
    color: #000 ;
}
.topic {
    padding: 30px;
    text-align: center;
    margin: auto;
}
.projects {
    background-color: rgba(199, 218, 28, 0.76);
}
.pro {
    text-align: center ;
}
.proj {
    display: inline-block ;
    background-color: #fff;
    height: 70vh ;
    width: 25% ;
    border-radius: 10px ;
}
.hobbies {
    background-color: rgba(108, 26, 202, 0.692) ;
    text-align: center ;
}
.hobb {
    background-color: #fff;
    height: 10vh ;
    width: 40% ;
    margin: 15px;
    display: inline-block ;
    border-radius: 10px;
}
.about {
    height: 140vh ;
    background-color: rgba(24, 209, 223, 0.527) ;
}
.about-pic {
    position: relative;
    height: 300px ;
    display: block;
    margin: 20px auto!important ;
    border-radius: 20px ;
}
.abt {
    width: 70% ;
    height: 70vh ;
    border-radius: 10px ;
    background-color: #fff;
    margin: 0 auto;
}
.contact {
    background-color: rgba(83, 206, 66, 0.753) ;
}
.contact1 {
    display: inline-block;
    width: 65% ;
}
form {
    text-align: center;
}
input {
    display: inline-block ;
    border: 2px solid #fff ;
    border-radius: 10px ;
    margin: 20px;
    padding: 7px;
    width: 90% ;
    height: 50px;
}
textarea {
    display: inline-block ;
    border: 2px solid #fff ;
    border-radius: 10px ;
    margin: 20px;
    padding: 7px;
    width: 90% ;
    height: 150px;
}
*:focus {
    outline: none;
}
.cont {
    border: 1px;
    border-radius: 10px;
    background-color: #272228;
    width: 100px;
    color: #fff;
}
.contact2 {
    display: inline-block;
    width: 30%;
}
.conta {
    background: #fff;
    width: 85%;
    height: 450px;
    padding: 10px;
    border-radius: 20px;
}
.con {
    margin: 10px auto;
    width: 90%;
    height: 75px;
    background: #272228;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}
.fas {
    width: 20px;
    height: 20px;
}
span { 
    font-family: 'Livvic', sans-serif;
    font-size: 70%; 
}
footer {
    padding: 50px ;
    text-align: center;
    height: 35vh ;
    background-color: #272228 ;
}
.cr {
    font-size: 80%;
}
